@page
@model Sankirtana.Web.Pages.Sales.AddSale

@{
    ViewBag.Title = "Распространение";
}
<h1>@ViewBag.Title</h1>
<br/>

<div>
    <form>
        <div class="mb-3">
            <label for="Book" class="form-label">Книга</label>
            <select class="form-control" id="Book" name="Book" >
                <option value="AL">Прабхупада</option>
                <option value="WY">Шримад Бхагаватам 1.1</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-lg btn-primary">Ушла!</button>
    </form>
    <br/>
    <h2>Сегодня мной распространено:</h2>
    <table class="table">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Кол-во очков</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.BookList)
        {
          <tr>
            <td><a href="~/books/editbook?id=@book.Id">@book.Name</a></td>
            <td>@book.VolumePoints</td>
            <td>
              <form method="post" action="~/books/DeleteBook">
                <input type="hidden" name="id" value="@book.Id"/>
                <input type="submit" class="btn btn-sm btn-danger" onclick="return OnDeleteClick()" value="Удалить"/>
              </form>
            </td>
          </tr>
        }
        </tbody>
      </table>
</div>


<script>
    $(document).ready(function() {
        $('#Book').select2({
           width: '100%'
        });
    });
</script>
