@page
@model Sankirtana.Web.Pages.Books.IndexBooksPageModel

@{
  ViewBag.Title = "Справочник книг";
}

<div>
  <a href="~/books/editbook" class="btn btn-primary">Добавить книгу</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Категория</th>
      <th scope="col">Баллы</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.BookList)
    {
      <tr>
        <td><a href="~/books/editbook?id=@book.Id">@book.Name</a></td>
        <td>@book.Category</td>
        <td>@book.VolumePoints</td>
        <td class="text-end">
          <form method="post" action="~/books/DeleteBook">
            <input type="hidden" name="id" value="@book.Id"/>
            <button type="submit" class="btn btn-sm btn-danger btn-floating" onclick="return OnDeleteClick()">
              <i class="bi bi-trash"></i>
            </button>
          </form>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

<script>
function OnDeleteClick()
{
  if (confirm("Удалить?")) {
    		return true;
    	} else {
    		return false;
    	}
}
</script>